<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <div class="container">
        <a href="/">
            <img src=https://www.belladonnaclasses.co.za/wp-content/uploads/2018/04/cropped-Logo-with-crownss.png" width="250">
        </a>
    </div>
</div>

<div class="container">
    <h1 class="text-center text-info">Our Classes & Workshops</h1>
</div>

<div class="container mb-5 mt-5">
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Starter</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="2500">R<span class="price">250</span><span class="h6 text-muted ml-2">/ per month</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Self-Confidence</li>
                    <li>Etiquette</li>
                    <li>Relationships</li>
                    <li>Modelling & Deportment</li>
                </ul>
                <a href="/checkout" class="btn btn-outline-secondary mb-3">Order now</a>
            </div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Professional</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">R<span class="price">500</span><span class="h6 text-muted ml-2">/ per month</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Self-Confidence</li>
                    <li>Etiquette</li>
                    <li>Relationships</li>
                    <li>Modelling & Deportment</li>
                    <li>Style & Image</li>
                    <li>Wellness – Health & Fitness</li>
                    <li>Feminine Hygiene</li>
                    <li>Entertaining</li>
                </ul>
                <a href="/checkout" class="btn btn-outline-secondary mb-3">Order now</a>
            </div>
        </div>
        <div class="card card-pricing text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Business</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="45">R<span class="price">1050</span><span class="h6 text-muted ml-2">/ per month</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Self-Confidence</li>
                    <li>Etiquette</li>
                    <li>Relationships</li>
                    <li>Modelling & Deportment</li>
                    <li>Style & Image</li>
                    <li>Wellness – Health & Fitness</li>
                    <li>Feminine Hygiene</li>
                    <li>Entertaining</li>
                    <li>Event Planning</li>
                    <li>Public Speaking</li>
                    <li>The Art of Conversation</li>
                    <li>Resilience – Bouncing Back</li>
                </ul>
                <a href="/checkout" class="btn btn-outline-secondary mb-3">Order now</a>
            </div>
        </div>
        <div class="card card-pricing text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Enterprise</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="60">R<span class="price">2000</span><span class="h6 text-muted ml-2">/ per month</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Self-Confidence</li>
                    <li>Etiquette</li>
                    <li>Relationships</li>
                    <li>Modelling & Deportment</li>
                    <li>Style & Image</li>
                    <li>Wellness – Health & Fitness</li>
                    <li>Feminine Hygiene</li>
                    <li>Entertaining</li>
                    <li>Event Planning</li>
                    <li>Public Speaking</li>
                    <li>The Art of Conversation</li>
                    <li>Resilience – Bouncing Back</li>
                    <li>Stress, Anxiety & Depression</li>
                    <li>Dream/Vision-boards</li>
                    <li>Goal Setting</li>
                    <li>Career Choices & Interview Skills</li>
                </ul>
                <a href="/checkout" class="btn btn-outline-secondary mb-3">Order now</a>
            </div>
        </div>
    </div>
</div>
<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="https://www.belladonnaclasses.co.za">https://www.belladonnaclasses.co.za</a></div>
       

</body>
</html>
