<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">

    <div class="container">
        <a href="/" class="lang-logo">
            <img src=https://www.belladonnaclasses.co.za/wp-content/uploads/2018/04/cropped-Logo-with-crownss.png">
        </a>
        <h1>GBella Donna Finishing Classes</h1>
    </div>
    
</div>


</body>
</html>
