<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <div class="container">
        <a href="/">
            <img src=https://www.belladonnaclasses.co.za/wp-content/uploads/2018/04/cropped-Logo-with-crownss.png" width="250">
        </a>
    </div>
</div>

<div class="container">
    <h1 class="text-center text-info">Register</h1>
</div>

<form class="form-signin">

      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Full Name</label>
      </div>
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Confirm Password</label>
      </div>

      <button class="btn btn-lg btn-info btn-block" type="submit">Register</button>

</form>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="https://www.belladonnaclasses.co.za">https://www.belladonnaclasses.co.za</a></div>
       

</body>
</html>
